#filtro1, #filtro2, #filtro3 {
	display: inline-block;
	vertical-align:top;
}
#resultadosEmail, #resultadosCargo, #resultadosVotantes {
	font-size: 11px;
	font-family: Arial;
	position: absolute; 
	background-color: #777777;
	color: #FFFFFF;
	text-align: left; 
	border: 1px solid #D62446;			
	border-radius: 5px;
	position:relative;
	
}
#registroSeleccionado {
	font-size: 13px;
	font-family: Arial;
	position: absolute; 
	background-color: #D62446;
	color: #FFFFFF;
	text-align: left; 
	border: 1px solid #D62446;			
	border-radius: 5px;
	padding: 20px;
	position:relative;
	
}
#updateDone {
	font-size: 13px;
	font-family: Arial;
	background-color: #24D646;
	color: #FFFFFF;
	text-align: left; 
	border: 1px solid #D62446;			
	border-radius: 5px;
	padding: 10px;
}
form > div {
	margin:10px;
}

#resultadosEmail p, #resultadosCargo p, #resultadosVotantes  p {
	padding: 5px;
}
#resultadosEmail p:hover, #resultadosCargo p:hover, #resultadosVotantes p:hover {
	background-color: #C7C7C7;
	color: #D62446;
	cursor: pointer;
	/*padding: 10px;*/
}