body{
  
  font-family: monospace;
  font-style: normal;
  font-size: 16px;
}
h2,h4,h5{
  color:white;
}
.datos_ventana{
    background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, red , yellow); /* Standard syntax */border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  padding: 1%;
  margin:1em;
}
.datos_pantalla{
   background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, yellow,green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, yellow,green;) /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, yellow,green;) /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, yellow,green); /* Standard syntax */ border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  padding: 1%;
  margin:1em;
}
.datos_despedida{
   background: red; /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  background: -webkit-repeating-radial-gradient(red, blue);
  /* For Opera 11.6 to 12.0 */
  background: -o-repeating-radial-gradient(red, blue);
  /* For Firefox 3.6 to 15 */
  background: -moz-repeating-radial-gradient(red, blue);
  /* Standard syntax */
  background: repeating-radial-gradient(red, blue);
  box-shadow: 10px 10px 5px black;
  text-align: center;
  padding: 1%;
  margin:1em;
}
#container td{

  text-align: center;
}
#selOp{
  background: white;
}
input[type="button"]{
   background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#142195,#142198); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(#142195,#142198); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(#142195,#142198); /* For Firefox 3.6-15 */
  background: radial-gradient(#142195,#142198); /* Standard syntax */
  border-radius: 25px;
  
  color:white;
  text-align: center;

}
input[type="button"]:hover{
   background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(white,white); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(white,white); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(white,white); /* For Firefox 3.6-15 */
  background: radial-gradient(white,white); /* Standard syntax */
  border-radius: 25px;
  color:#142198;
  text-align: center;

}
span,h2{color:white;}
#d1,#d2,#d3,#d4,#d5{display:none;background-color: white; width: 90%;  }