table, table th, table td {
	border: 1px solid white;
  	border-collapse: collapse;
  	padding: 3px;
}

.cabecera {
	background: red;
	color: #E0E0F8;
	font: bold "Times New Roman", Times, serif;
	text-align: center;

}

.filaPar {
	background: #FE9A2E;
	color: white;
}

.filaImpar {
	background: #C7C7C7;
	color: black;
}

.primeraColumna {
	background: black;
	color: white;
}

.presidente {
	background: yellow;
	color: blue;
	border: 2px solid blue;
}
.policia {
	background: #F5A9E1;
}

.borde_rojo{
	border: 3px red solid;
}

.destaca {
	text-decoration: underline overline blink;
	color:blue;
}
.escudo, .logo {
	margin-top: 10px;
}
