body{
	background-color: #B4BFF7;
	font-family: monospace;
	font-style: normal;
	font-size: 16px;
  color:white;

}
#tabla{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#142195 20%, #3f5fd2 80%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(#142195 20%, #3f5fd2 80%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(#142195 20%, #3f5fd2 80%); /* For Firefox 3.6-15 */
  background: radial-gradient(#142195 20%, #3f5fd2 80%); /* Standard syntax */
	border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  padding: 1%;
}
#tabla td{

  text-align: center;
}
#selOp{
	background: white;
}
input[type="button"]{
	 background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(#142195,#142198); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(#142195,#142198); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(#142195,#142198); /* For Firefox 3.6-15 */
  background: radial-gradient(#142195,#142198); /* Standard syntax */
	border-radius: 25px;
  
  color:white;
  text-align: center;

}
input[type="button"]:hover{
	 background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(white,white); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(white,white); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(white,white); /* For Firefox 3.6-15 */
  background: radial-gradient(white,white); /* Standard syntax */
	border-radius: 25px;
  color:#142198;
  text-align: center;

}
span,h2{color:white;}
#d1,#d2,#d3,#d4,#d5{display:none;background-color: white; width: 90%;  }