
.barra {
	display:block; 
	margin:50px auto;
	width:80%;
	background-color:#000000;
	color:#FFFFFF;
	text-align:center;
	font-size:1.1em;
	border-radius: 10px;
	box-shadow: 10px 10px 5px gray;
}

.barranavegacion {
   margin: auto;
   display:block;
   width:100%;
   vertical-align:top; 
}

.primerNivel{
	display: inline-block;
	list-style: none;
	padding: 15px 50px;
	text-align:left;
	vertical-align:top;
}

.segundoNivel{
	list-style: none;
	background-color:#FFFFFF;
	border: solid 1px #D62446;
	padding: 15px;
	color: #D62446;
	text-align:left;
	font-size:0.8em;
	border-radius: 10px;
}


table, table th, table td {
	border: 1px solid white;
  	border-collapse: collapse;
  	padding: 3px;
}

.cabecera {
	background: red;
	color: #E0E0F8;
	font-family: bold, "Times New Roman", Times, serif;
	text-align: center;

}

.filaPar {
	background: #FE9A2E;
	color: white;
}

.filaImpar {
	background: #C7C7C7;
	color: black;
}

.primeraColumna {
	background: black;
	color: white;
}

.cargo, .presidente {
	background: yellow;
	color: blue;
	border: 2px solid blue;
}
.policia {
	background: #F5A9E1;
}

.borde_rojo{
	border: 3px red solid;
}

.destaca {
	text-decoration: underline overline blink;
	color:blue;
}
.escudo, .logo {
	margin-top: 10px;
}
