body{
	background-color: #B4BFF7;
	font-family: monospace;
	font-style: normal;
	font-size: 16px;
  color:black;

}
#tabla{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(yellow 20%, orange 80%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(yellow 20%, orange 80%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(yellow 20%, orange 80%); /* For Firefox 3.6-15 */
  background: radial-gradient(yellow 20%, orange 80%); /* Standard syntax */
	border-radius: 25px;
  box-shadow: 10px 10px 5px black;
  text-align: center;
  padding: 1%;
  color: black;
}
#tabla td{

  text-align: center;
}
#selOp{
	background: white;
}
#t1{
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 25px;
  border-radius: 25px;
}
#btn0{
width: 100%;
}
#btnigual{
  width: 100%
}
input[type="button"]{
	 background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(yellow,#142198); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(yellow,#142198); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(yellow,#142198); /* For Firefox 3.6-15 */
  background: radial-gradient(yellow,#142198); /* Standard syntax */
	border-radius: 10px;
  width: 100px;
  height: 100px;
  color:black;
  text-align: center;
  font-size: 15px;
}
input[type="button"]:hover{
	 background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(white,white); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(white,white); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(white,white); /* For Firefox 3.6-15 */
  background: radial-gradient(white,white); /* Standard syntax */
	border-radius: 25px;
  color:#142198;
  text-align: center;

}
span,h2{color:black;}
#d1,#d2,#d3,#d4,#d5{display:none;background-color: white; width: 90%;  }